@*
// Andrea Maria Castronovo
// 5°I
// 29-04-202
// Progetto stazione meteo
*@
@page "/stazione-meteo/{Parametro}/picam"

<section>
    <h1>PiCam</h1>
    <p>Miao</p>
    <p>@Parametro</p>
</section>

@code {
    [Parameter]
    public string Parametro { get; set; }
    
}
