@*
// Andrea Maria Castronovo
// 5°I
// 22-05-2024
// Progetto stazione meteo
*@
@page "/stazione-meteo/{Parametro}/picam"

<section>
    <h1>PiCam</h1>
    <p>La PiCam è il componente che si occupa di registrare immagini periodiche dalla nostra stazione meteorologica</p>

</section>

@inject NavigationManager NM
@code {

    [Parameter]
    public string Parametro { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (Parametro != "interno" || Parametro != "esterno")
        {
            NM.NavigateTo("/stazione-meteo/interno/picam");
        }
    }

}
