@* 
    Questo è il primissimo file a cui fa capo la nostra applicazione (da non confondere Program.cs che è quello che ne permette l'avvio).
    Infatti è qui che possiamo vedere le caratteristiche alla radice di una pagina HTML, come DOCTYPE, html e body.
*@

@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace BlazorApp_StazioneMeteo.Pages

@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8"/>
    <base href="~/"/> @* Tag HTML per definire  *@

    <meta charset="UTF-8">
    <meta name="description" content="Stazione meteo della scuola Pascal Comandini di Cesena">
    <meta name="keywords" content="Meteo">
    <meta name="author" content="Andrea Maria Castronovo">
    <meta name="copyright" content="Andrea Maria Castronovo">
    <meta name="robots" content="noindex">
    <!--<meta http-equiv="refresh" content="60">-->
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap's CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"> 


    <!-- cookiealert plugin styles -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">

    
          
    <!-- My CSS, messo per ultimo per dargli priorità -->
    <link href="css/site.css" rel="stylesheet"/>
    @*
    // Andrea Maria Castronovo
    // 5°I
    // 29-04-202
    // Progetto stazione meteo
    *@



    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered"/>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Ti piacciono i cookie?</b> &#x1F36A; Utilizziamo i Cookie per assicurarti l'esperienza migliore possibile @* &#x1F36A; è il codice UNICODE per l'emoji dei biscotti *@
        nel nostro sito. <a href="https://cookiesandyou.com/" target="_blank">Scopri di più</a>
        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            Acconsento
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->

    <!-- Bootstrap script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    
    <!-- Cookiealert plugin script -->
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script>
        function BlazorScrollToId(id) {
            const element = document.getElementById(id);
            if (element instanceof HTMLElement) {
                element.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "nearest"
                });
            }
        }
    </script>

</body>
</html>