@*
// Andrea Maria Castronovo
// 5°I
// 22-05-2024
// Progetto stazione meteo
*@
@page "/"

<PageTitle>Stazione Meteo | Home</PageTitle>

<section>
    <h2 class="text-center">Introduzione al progetto</h2>
    <p>
        Tramite una stazione metereologica costruita in casa Pascal Comandini, i nostri servizi ti
        forniranno informazioni riguardo il meteo a Cesena in tempo reale!
    </p>
</section>
<section>
    <h2>Obiettivo del sito</h2>
    <p>
        L'obiettivo di questo sito web è <a href="/stazione-meteo">documentare</a> la progettazione e la creazione della nostra
        stazione meteo, ed è anche possibile <a href="/rilevamenti">provare</a> ed utilizzare il servizio creato.
    </p>
</section>
<section>
    <h2>Alcune tappe del progetto</h2>
    <ul class="list">
        <li>Selezionare e ottenere i giusti <a href="/stazione-meteo/interno">componenti elettronici necessari</a></li>
        <li><a href="/stazione-meteo/esterno">Assemblare</a> i componenti per la stazione meteo</li>
        <li>Progettare e strutturare la base di dati che conterrà le rilevazioni</li>
        <li>Progettare e programmare il software che gestirà il Raspberry</li>
        <li>Progettare e programmare il sito web visualizzato dagli utenti</li>
    </ul>
    <p>Non tutti questi compiti sono stati affidati agli studenti in quanto questi si sono curati della parte informatica, lasciando le mansioni elettroniche al docente.</p>
    <p>Gli studenti si sono quindi occupati della base di dati, software del microcontrollore e del sito web.</p>
</section>
