@page "/stazione-meteo"

@* Kebab Case per i routes con lo spazio *@

<section>
    <h2>Progetto</h2>
    <p>Osserviamo ora il progetto complessivo</p>

    <img src="imgs/Progetto.png" class="img-fluid">

    <p>Notiamo dei sensori che, tramite una rete, comunicano con un server database e un server web.</p>
    <p>Tramite questi server i client faranno accesso ai dati rilevati dai sensori.</p>
    <p>Più precisamente i sensori comunicano con un computer (un <a href="components/electronic/raspberry.html">raspberry</a>) che poi si occuperà del trasferimento di dati tramite rete al server database.</p>
    <p>Il server web poi si occuperà di prelevare i dati dal database e di mostrarli al client.</p>
</section>

<section id="componenti">
    <h2>Sensori</h2>

    <img src="imgs/ProgettoSensori.png" class="img-fluid">

    <h3>Rain Gauge</h3>
    <p><a href="../../pages/StazioneMeteo/components/mainStation/pluviometro.html">Pluviometro</a>, non ha un tetto per proteggerlo dall'acqua ma ha un imbuto per raccoglierla.</p>

    <h3>Temperature and Umidity</h3>
    <p>Contenitore che protegge dei <a href="../../pages/StazioneMeteo/components/mainStation/proterigro.html">sensori sensibili</a> (termometro e igrometro) ai raggi del sole; </p>

    <h3>Wind Sensor</h3>
    <p>Direzione e intensità del vento</p>

    <h3>Barometric Pressure</h3>
    <p>Misura la pressione dell'aria per capire l'arrivo del maltempo</p>

    <h3>Considerazioni</h3>
    <p>Abbiamo quindi un totale di 6 sensori.</p>
    <p>C'è un host (il raspberry) che legge i dati da questi sensori e tramite rete trasmette i dati al server database.</p>


    <a href="components/mainStation/stazione.html">Vai alla mappa interattiva della stazione metereologica!</a>
</section>
<section>
    <h2>Sito web</h2>
    <p>Altra parte importante di questo progetto è proprio questo sito web!</p>
    <p>Una volta ottenuti i dati recepiti dalla stazione metereologica e inseriti nella base di dati, questo sito web deve accedervi e <a href="../Rilevazioni/rilevazioni.html">renderli disponibili</a> a tutti coloro che ne necessitano.</p>
</section>
@code {

}
