@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@
@inherits LayoutComponentBase
@inject NavigationManager NM

<PageTitle>Stazione Meteo</PageTitle>
<div class="container-fluid">

    <div class="row bg-intestazione">
        <header class="col-12 py-3">
            <Intestazione />
        </header>
        <nav class="navbar navbar-expand-lg col-md-3 p-3">
            <Menu />
        </nav>
    </div>

    <div class="row">
        <main class="col-md-9 p-3">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <FinestraModale
                        Titolo="Errore">
                        <ChildContent>
                            <p>Errore: @ex.Message</p>
                        </ChildContent>
                    </FinestraModale>
                </ErrorContent>
            </ErrorBoundary>
        </main>
        @if (@LinkCorrelati != "")
        {
            <aside class="col-md-3 p-3">
                <LinkUtili 
                    Parametri="@LinkCorrelati" />
            </aside>
        }
    </div>

    <div class="row">
        <footer class="col-12 p-3 text-center footer">
            <Footer />
        </footer>
    </div>

</div>

@code {
    public string LinkCorrelati { get; set; } = "";

    protected override void OnInitialized()
    {
        string path = NM.Uri.Substring(NM.Uri.IndexOf("/", 9));
        
        if (Correlati.LinkUtili.ContainsKey(path)) // Per evitare errore Dictionary
            LinkCorrelati = Correlati.LinkUtili[path];
    }

}