@*
// Andrea Maria Castronovo
// 5°I
// 22-05-2024
// Progetto stazione meteo
*@

@page "/grandezze-fisiche/dettagli/{id:int}"
@using BlazorApp_StazioneMeteo.Repository.Models


@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<h2>Modifica Grandezza fisica </h2>
<EditForm Model="_gf" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        idGrandezzaFisica:
        <InputNumber @bind-Value="_gf!.idGrandezzaFisica" readonly />
    </label>
    <label>
        GrandezzaFisica:
        <InputText @bind-Value="_gf!.Nome"  />
    </label>
    <label>
        Simbolo:
        <InputText @bind-Value="_gf!.Simbolo"  />
    </label>
    <label>
        SimboloUnitaDiMisuraAdottato:
        <InputText @bind-Value="_gf!.SimboloUnitaDiMisuraAdottato"  />
    </label>
    <label>
        Note:
        <InputText @bind-Value="_gf!.Note" />
    </label>
    <button class="btn btn-primary" type="submit">Salva</button>
</EditForm>

<NavLink class="nav-link" href="/grandezze-fisiche">
    <span class="oi oi-media-step-backward" aria-hidden="true"></span> Torna all'elenco
</NavLink>

@inject GrandezzaFisicaDB GF
@inject NavigationManager NM

@code {
    [Parameter]
    public int? id { get; set; }

    private GrandezzaFisica _gf;

    protected override void OnInitialized()

    {
        _gf = GF.OttieniElemento(id!);
    }
    private void Submit()
    {
        GF.ModificaElemento(_gf!);
        NM.NavigateTo("/grandezze-fisiche");
    }
}
