@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@
@page "/sensori-installati/dettagli/{id:int}"
@using BlazorApp_StazioneMeteo.Repository.Models


@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<h2>Modifica Sensore installato</h2>
<EditForm Model="_gf" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        idSensoriInstallati
        <InputNumber readonly @bind-Value="_gf!.idSensoriInstallati" />
    </label>
    <label>
        idCodiceSensore
        <InputNumber @bind-Value="_gf!.idCodiceSensore" />
    </label>
    <label>
        idNomeStazione
        <InputText @bind-Value="_gf!.idNomeStazione" />
    </label>
    <label>
        Note
        <InputText @bind-Value="_gf!.Note" />
    </label>
    <button class="btn btn-primary" type="submit">Salva</button>
</EditForm>

<NavLink class="nav-link" href="/sensori-installati">
    <span class="oi oi-media-step-backward" aria-hidden="true"></span> Torna all'elenco
</NavLink>

@inject SensoriInstallatiDB GF
@inject NavigationManager NM

@code {
    [Parameter]
    public int? id { get; set; }

    private SensoreInstallato? _gf;

    protected override void OnInitialized()

    {
        _gf = GF.OttieniElemento(id!);
    }
    private void Submit()
    {
        GF.ModificaElemento(_gf!);
        NM.NavigateTo("/sensori-installati");
    }
}
