@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@

@page "/rilevamenti/dettagli/{id:int}"
@using BlazorApp_StazioneMeteo.Repository.Models


@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<h2>Visualizza Rilevamento</h2>
<EditForm Model="_gf" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        idRilevamenti
        :
        <InputNumber @bind-Value="_gf!.idRilevamenti" readonly />
    </label>
    <label>
        idSensoriInstallati
        :
        <InputNumber @bind-Value="_gf!.idSensoriInstallati" readonly />
    </label>
    <label>
        DataOra
        :
        <InputDate @bind-Value="_gf!.DataOra" readonly />
    </label>
    <label>
        Dato:
        <InputText @bind-Value="_gf!.Dato" readonly />
    </label>
    @* <button class="btn btn-primary" type="submit">Salva</button> *@
</EditForm>

<NavLink class="nav-link" href="/rilevamenti">
    <span class="oi oi-media-step-backward" aria-hidden="true"></span> Torna all'elenco
</NavLink>

@inject RilevamentoDB GF
@inject NavigationManager NM

@code {
    [Parameter]
    public int? id { get; set; }

    private Rilevamento? _gf;

    protected override void OnInitialized()

    {
        _gf = GF.OttieniElemento(id!);
    }
    private void Submit()
    {
        GF.ModificaElemento(_gf!);
        NM.NavigateTo("/rilevamenti");
        
    }
}
