@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@
<p class="mb-1">
    Creato da Andrea Maria Castronovo<sup>©</sup>
</p>
<p class="mb-1">Tutti i diritti riservati.</p>
<p class="mb-1">
    Contattami a <a href="mailto:andreamaria.castronovo.stud@ispascalcomandini.it">andreamaria.castronovo.stud@ispascalcomandini.it</a>
</p>


@code {

}
