@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@
<div class="row">
    <div class="col-2">
        <!-- Provate anche con text-right, se lo preferite, ma solo con versione 4.5.2 di bootstrap. -->
        <img src="imgs/logo.png" alt="Logo del sito" width="50" class="img-fluid">
    </div>
    <div class="col-10">
        <h1 class="align-self-center">Progetto stazione meteo</h1>
    </div>
</div>

@code {

}
