@*
// Andrea Maria Castronovo
// 5°I
// 29-04-202
// Progetto stazione meteo
*@

<div>
    <ul>
        @foreach (Tuple<string,string> link in Links)
        {
            <li>@String.Concat(link.Item1, " ", link.Item2);</li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public string Parametri { get; set; }

    private List<Tuple<string, string>> Links { get; set; } = new List<Tuple<string, string>>(); // Links[0] = Nome 

    
    protected override void OnParametersSet()
    {
        string[] Couples = Parametri?.Split(';') ?? Array.Empty<string>();
        foreach (var c in Couples)
        {
            string[] splitted = c.Split("$");
            Links.Append(new Tuple<string, string>(splitted[0], splitted[1]));
        }
    }

}
