<h3>LinkUtili</h3>



@code {
    [Parameter]
    public string Parametri { get; set; }

    private string[] Links { get; set; }

    protected override void OnParametersSet()
    {
        Links = Parametri?.Split(';') ?? Array.Empty<string>();
    }

}
