@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@
@page "/stazioni/{admin:int?}"

@using BlazorApp_StazioneMeteo.Repository.Models

<h2>Stazioni</h2>
<p>In questa pagina troverai i le stazioni disponbili.</p>
<PageTitle>Stazione Meteo | Stazioni</PageTitle>
<div>
    <div class="ricerca">
        <input type="text" />
        <button class="btn btn-secondary">
            <i class="bi bi-funnel" />
        </button>
        <button class="btn btn-primary">
            <i class="bi bi-search" />
        </button>
    </div>

    <div class="table-responsive">
        <TabellaTiPregoFunziona G="StazioneModel" T="StazioneDB" _url="stazioni" admin=@(admin == 0 ? false : true) />
        <NavLink href="/stazioni/nuovo"><button class="btn btn-success">Nuovo</button></NavLink>
    </div>

</div>
@code {
    [Parameter, SupplyParameterFromQuery]
    public int p { get; set; }

    [Parameter]
    public int? admin { get; set; }

    protected override void OnParametersSet()
    {
        if (p < 1)
            p = 1;
        if (admin == null || admin > 1 || admin < 0)
            admin = 0;
    }

}
