@*
// Andrea Maria Castronovo
// 5°I
// 22-05-2024
// Progetto stazione meteo
*@
@page "/stazione-meteo/interno"

<section>

    <p>
        In questo contenitore è contenuta l'elettronica per l'acquisizione dei dati e la trasmissione di
        questi verso un server.
    </p>

    <p>
        Di seguito vi è la vista dettagliata del circuito interno
    </p>

    <img src="imgs/AcquisTrasmisDati.jpg" usemap="#image-map" width="1000">

    <map name="image-map">
        <area target="" alt="PiCamera" title="PiCamera" href="stazione-meteo/interno/picam"
              coords="329,563,482,708" shape="rect">

        <area target="" alt="Raspberry" title="Raspberry" href="stazione-meteo/interno/raspberry"
              coords="139,534,478,943" shape="rect">

        <area target="" alt="Regolatore di tensione in ingresso"
              title="Regolatore di tensione in ingresso" href="stazione-meteo/interno/reg-ten-in"
              coords="101,864,210,1060" shape="rect">

        <area target="" alt="Regolatore di tensione in uscita" title="Regolatore di tensione in uscita"
              href="../electronic/reg-ten-out" coords="572,510,755,603" shape="rect">

        <area target="" alt="UPS" title="UPS" href="stazione-meteo/interno/ups" coords="625,669,861,898"
              shape="rect">

        <area target="" alt="Betteria di continuità " title="Betteria di continuità"
              href="stazione-meteo/interno/batteria-continuita" coords="369,971,805,1216" shape="rect">

        <area target="" alt="Circuito di antirimbalzo" title="Circuito di antirimbalzo"
              href="stazione-meteo/interno/antirimbalzo" coords="503,275,729,402" shape="rect">
    </map>
</section>

@code {

}
