@*
// Andrea Maria Castronovo
// 5°I
// 29-04-202
// Progetto stazione meteo
*@
@page "/stazione-meteo/esterno/anemometro"

<section>
    <h2>Cos'è</h2>
    <p>L'anemometro è un dispositivo tramite cui possiamo rilevare la forza del vento.</p>
    <img src="../../imgs/anemometro.png">
</section>
<section>
    <h2>Funzionamento</h2>
    <p>Questo dispositivo è composto da coppe che girano in base alla velocità con cui il vento sbatte su queste.</p>
    <p>Assieme al movimento delle coppe, si muove con esse anche un mag nete, che andrà ad attivare e disattivare un <a href="#reedswitch">reed switch</a></p>
</section>
<section id="reedswitch">
    <h2>Reed Switch</h2>
    <p>Il reed switch è un circuito che funziona alla base come un pulsante, quando questo ha il magnete vicino, collegherà il circuito, quando il magnete è lontano il circuito sarà scollegato</p>
    <img src="../../imgs/ReedSwitch.png">
    <img src="../../imgs/ReedSwitchMagnet.png">
</section>

@code {

}
