@*
// Andrea Maria Castronovo
// 5°I
// 22-05-2024
// Progetto stazione meteo
*@
@page "/stazione-meteo/esterno/protezione-igrometro"

<section>
    <h1>Contenuto</h1>
    <p>Un contenitore che serve per proteggere sensori sensibili, è composto da piatti impilati in modo da far passare l'aria. Tra i sensori sensibili vi sono igrometro, misura l'umidità, che ha bisogno di un circuito (che va protetto dai raggi del sole), e il termometro per cui vale la stessa cosa.</p>
</section>

@code {

}
