@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@
@page "/stazione-meteo/encoders/encoder-assoluto"

<section>
    <h1>Assoluto</h1>
    <p>Da scrivere</p>
</section>

@code {

}
