@page "/stazione-meteo/encoders/encoder-incrementale"

<section>
    <h1>Incrementale</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia velit totam vitae dolore harum illo temporibus soluta nemo id perferendis numquam nulla, officia tempore hic atque laudantium. Ad, ea suscipit?</p>
</section>

@code {

}
