@*
// Andrea Maria Castronovo
// 5°I
// 22-05-2024
// Progetto stazione meteo
*@
@page "/stazione-meteo/interno/antirimbalzo"

<section>
    <h1>Antirimbalzo</h1>
    <p>Filtra il segnale per evitare rimbalzi :)</p>
</section>


@code {

}
