@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@
@page "/stazione-meteo/interno/batteria-continuita"

<main class="col-md-6 p-3">
    <section>
        <h1>Batteria di continuità</h1>
        <p>miao</p>
    </section>
</main>

@code {

}
