@*
// Andrea Maria Castronovo
// 5°I
// 11-05-2024
// Progetto stazione meteo
*@
@page "/stazione-meteo/interno/reg-ten-out"

<section>
    <h2>Descrizione</h2>
    <p>(7V-> 5V per alimentare Raspberry)</p>
</section>
@code {

}
