@*
// Andrea Maria Castronovo
// 5°I
// 22-05-2024
// Progetto stazione meteo
*@
@page "/stazione-meteo/interno/ups"

<section>
    <h2>Descrizione</h2>
    <p>Fatta dal prof per uso custom alla sezione meteo, si ricarica con la 12V normale quando c'è, è anche temporizzato (da mezz'ora alla raspberry per fare qualcosa)</p>
</section>

@code {

}
